.home-body {
    height: 100vh;
    background: linear-gradient(to bottom right, #4f5bd5, #8a3ab9);
}
.text-home-page h1 {
    color: #fff;
  margin-bottom: 40px;
}
.text-home-page h3 {
    color: #fff;
    margin-bottom: 30px;
}
.text-home-page p {
    color: #fff;
    margin-bottom: 100px;
}
.card-btn {
    width: 300px;
    margin-top: 20px;
    margin: 0 auto;
}
.btn-custom-instagram {
    border: 2px solid #fff;
    box-shadow: none;
    outline: none;
    height: 70px;
    width: 100%;
    background-color: transparent;
}
.btn-custom-instagram:focus {
    background-color: #fff !important;
    color: #8a3ab9 !important;
    box-shadow: none !important;
    outline: none !important;
}

.btn-custom-instagram:hover {
    background-color: #fff !important;
    color: #8a3ab9 !important;
    box-shadow: none !important;
    outline: none !important;
}
.btn-custom-instagram:active {
    background-color: #fff !important;
    color: #8a3ab9 !important;
    box-shadow: none !important;
    outline: none !important;
}
.btn-custom-facebook {
    box-shadow: none;
    border: 2px solid #fff;
    outline: none;
    height: 70px;
    width: 100%;
    background-color: transparent;
}
.btn-custom-facebook:hover {
    background-color: #fff !important;
    color: #8a3ab9 !important;
    box-shadow: none !important;
    outline: none !important;
}
.btn-custom-facebook:focus {
    background-color: #fff !important;
    color: #8a3ab9 !important;
    box-shadow: none !important;
    outline: none !important;
}
.btn-custom-facebook:active {
    background-color: #fff !important;
    color: #8a3ab9 !important;
    box-shadow: none !important;
    outline: none !important;
}
