<div class="home-body">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-12 text-center text-home-page">
                <h1>What is Lorem Ipsum?</h1>
                <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="card-btn">
                            <button class="btn btn-primary btn-custom-instagram" (click)="instaLogin()"><i class="fab fa-instagram"></i> Instagram LOGIN</button>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card-btn">
                            <button class="btn btn-primary btn-custom-facebook" (click)="fbLogin()"><i class="fab fa-facebook"></i> Facebook LOGIN</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
