/* Navigacija */
.custom-nav {
    height: 80px;
    line-height: 60px;
}
.bg-social {
    /*background-color: #8a3ab9 !important;*/
  background: linear-gradient(to bottom right, #4f5bd5, #8a3ab9);
}
.nav-link {
    color: #ffffff !important;
    cursor: pointer;
}
.nav-item p {
    margin: 0px;
    height: 80px;
    line-height: 80px;
    color: #fff;
}
.img-profile img {
    height: 55px;
    border-radius: 50%;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.navbar-light .navbar-toggler {
    border: none;
    box-shadow: none;
    outline: none;
}
.navbar-light .navbar-toggler:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

/* info */
.info-div {
    background-color: #191919;
    text-align: center;
    height: auto;
    line-height: 70px;
}
.info-div i {
    margin-left: 10px;
    margin-right: 10px;
}
.info-div p {
    color: #eaeaea;
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
}
.info-div span {
    font-size: 24px;
    font-style: italic;
    color: #bc80e8;
    font-weight: bold;
}
.title-name {
    text-align: center;
}
.title-name p {
    margin-top: 20px;
    font-size: 24px;
    color: #5359d3;
    font-weight: 500;
}
.title-name a {
    text-align: center;
    color: #000;
}
/* sticky footer */
.content {
    height: 100vh;
    margin: 0;
}
.content-up {
    min-height: 100%;
    padding-bottom: 80px;
    background-color: #eae8e8;
}
.footer {
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-top: -50px;
    background-color: #505ad4;
    color: #ffffff;
}
.footer p {
  margin-bottom: 0px;
}
/* contentst */
.img-latest-post {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 170px;
    border-radius: 4px;
    opacity: 0.8;
}
.img-latest-post:hover {
    cursor: pointer;
    opacity: 1;
}
.contents h5 {
    text-align: center;
    margin-top: 40px;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 5px;
}
.repeat-post {
    margin-top: 30px;
}
.repeat-post img {
    width: 100%;
}
.repeat-post p {
    font-style: italic;
    color: #818181;
    font-size: 12px;
}
.repeat-post h3 {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.repeat-post i {
    font-size: 16px;
    color: #ed4956;
    margin-right: 5px;
}
.repeat-post span {
    font-size: 16px;
    font-weight: 500;
    color: #5259d3;
}
/* left contents */
.left-contents {
    margin-top: 40px;
}
.left-contents h2 {
    font-size: 22px;
    margin-bottom: 30px;
}
.left-contents img {
    width: 100%;
    border-radius: 4px;
}
.left-contents h4 {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.2px;
}
.left-contents h5 {
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 1.2px;
}
.left-contents span {
    font-size: 14px;
    color: #5259d3;
    font-weight: 500;
}
.left-contents p {
    font-style: italic;
    color: #818181;
    font-size: 12px;
    text-align: center;
}
.left-contents h6 {
  font-style: italic;
  color: #818181;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}
/* right contents */
.right-contents {
    margin-top: 40px;
}
/* maps */
agm-map {
    height: 300px;
}
@media(max-width:565px) {
    .info-div p {
        display: block;
        margin-bottom: 0px;
    }
}
