<div *ngIf="socialType.name == Constants.INSTAGRAM_TYPE">
    <div class="content">
        <div class="content-up">
            <nav class="navbar navbar-expand navbar-light bg-light bg-social">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarNavDropdown" class="navbar-collapse collapse">
                    <!--<ul class="navbar-nav mr-auto">-->

                    <!--</ul>-->
                    <ul class="navbar-nav mr-auto custom-nav">
                        <li class="nav-item img-profile">
                            <div class="nav-link">
                                <img [src]="instaUser.profile_picture" alt="">
                            </div>
                        </li>
                        <li class="nav-item">
                            <p>{{instaUser.username}}</p>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item" (click)="logout()">
                            <a class="nav-link"><i class="fas fa-sign-out-alt"></i> Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class=" info-div">
                <p><i class="fas fa-user"></i>Followers: <span>{{instaUser.counts.followed_by}}</span></p>
                <p><i class="fas fa-user"></i> Following: <span>{{instaUser.counts.follows}}</span></p>
                <p><i class="far fa-newspaper"></i>Posts: <span>{{instaUser.counts.media}}</span></p>
            </div>
            <div class="title-name">
                <p>{{instaUser.full_name}}</p>
                <a href="{{instaUser.website}}">{{instaUser.website}}</a>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-5 left-contents">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h2>Most popular post</h2>
                            </div>
                            <div class="col-12 col-sm-6">
                                <h4>Likes</h4>
                                <div class="img-latest-post" (click)="goLink(mostLikesPost.link)" [ngStyle]="{'background-image': 'url(' + mostLikesPost.images.standard_resolution.url + ')'}"></div>
                                <h6>{{mostLikesPost.created_time}}</h6>
                                <h5 style="border: none; margin-bottom: 0px;">Likes: <span>{{mostLikesPost.likes.count}}</span>, Comments: <span>{{mostLikesPost.comments.count}}</span></h5>
                                <p>{{mostLikesPost.caption?.text}}</p>
                            </div>
                            <div class="col-12 col-sm-6">
                                <h4>Comments</h4>
                                <div class="img-latest-post" (click)="goLink(mostCommentsPost.link)" [ngStyle]="{'background-image': 'url(' + mostCommentsPost.images.standard_resolution.url + ')'}"></div>
                                <h6>{{mostCommentsPost.created_time}}</h6>
                                <h5 style="border: none; margin-bottom: 0px;">Likes: <span>{{mostCommentsPost.likes.count}}</span>, Comments: <span>{{mostCommentsPost.comments.count}}</span></h5>
                                <p>{{mostCommentsPost.caption?.text}}</p>
                            </div>
                            <div class="col-12" style="border-top: 1px solid #ccc;">
                                <h4>Most used tags</h4>
                                <h5>#{{mostRepeatedTag.tag}} ( {{mostRepeatedTag.count}} )</h5>
                            </div>
                            <div class="col-12">
                                <h4>Average publishing time </h4>
                                <h5><span>{{averagePostTimeFormatted}}</span></h5>
                            </div>
                            <div class="col-12">
                                <h4>Most used filter </h4>
                                <h5>{{mostRepeatedFilter.filter}} ( {{mostRepeatedFilter.count}} )</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-7 right-contents">
                        <div style="display: block;" *ngIf="followersChartData">
                            <canvas baseChart
                                    [datasets]="followersChartData"
                                    [labels]="countsChartLabels"
                                    [options]="lineChartOptions"
                                    [colors]="lineChartColors"
                                    [legend]="true"
                                    [chartType]="'line'"></canvas>
                        </div>

                        <div style="display: block;" *ngIf="postsChartData">
                            <canvas baseChart
                                    [datasets]="postsChartData"
                                    [labels]="countsChartLabels"
                                    [options]="lineChartOptions"
                                    [colors]="lineChartColors"
                                    [legend]="true"
                                    [chartType]="'line'"></canvas>
                        </div>
                    </div>
                </div>
                <div class="row contents">
                    <div class="col-12">
                        <h5>Latest {{posts.length}} posts</h5>
                    </div>
                    <div class="col-12 col-sm-4 col-md-2 repeat-post" *ngFor="let post of posts">
                        <div class="img-latest-post" (click)="goLink(post.link)" [ngStyle]="{'background-image': 'url(' + post.images.standard_resolution.url + ')'}"></div>
                        <h3><i class="fas fa-heart"></i><span>{{post.likes.count}}</span><i class="fas fa-comment" style="margin-left: 15px; color: #9d9d9d;"></i><span>{{post.comments.count}}</span></h3>
                        <p>{{post.caption?.text}}</p>
                    </div>
                </div>
                <!--<div class="row">-->
                    <!--<agm-map [latitude]="lat" [longitude]="lng">-->
                        <!--<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>-->
                    <!--</agm-map>-->
                <!--</div>-->
            </div>
        </div>
        <div class="footer">
            <p>Klijent server sistemi</p>
        </div>
    </div>


</div>

<div *ngIf="socialType.name == Constants.FACEBOOK_TYPE">
    <ul class="nav justify-content-end custom-nav">
        <li class="nav-item">
            <p>{{fbUser.name}}</p>
            <!--<a class="nav-link" href="#">Logout</a>-->
        </li>
        <li class="nav-item img-profile">
            <a class="nav-link" href="#">
                <img [src]="fbUser.image" alt="">
            </a>
        </li>
    </ul>
    <p>{{fbUser.email}}</p>
</div>
